@media (min-width: 576px) and (max-width: 767px){

/* header */
.header {
    background-color: #FBF7E3;
    max-height: 300px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
 /*    border-radius: 40px; */
    gap: 10px; 
}

.header button {
    background-color: #F3DF85;
    color: #5b3b1e; 
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    
}

.header .shop {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
    padding: 13px 11px; 
    font-size: 27px; 
    border-radius: 25px; 
}

.header .img {
    width: 30px;
    height: 20px;
}



/* Main */

.origin{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.main{
    background-color: #FBF7E3;
  border-radius: 45px;
    width: 200px;
    justify-content: center;
    overflow: hidden;
}
.main .img{
   width: 100%;
    height: auto;
    aspect-ratio: 3 / 4; 
    object-fit: cover; 
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
 border: auto;

}
.main .description{
    font-family: Arial, Helvetica, sans-serif;
    color: #612407;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    gap: 10px;
}
.main .title{
    display: flex;
    flex-direction: column;
}
.main .bold{
    font-weight: bold;
}
.main .button{
    background-color: #F3DF85;
    border: none;
    border-radius: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

}