.main{
    background-color: #FBF7E3;
  border-radius: 45px;
    width: 200px;
    justify-content: center;
    overflow: hidden;
}
.img{
   width: 100%;
    height: auto;
    aspect-ratio: 3 / 4; 
    object-fit: cover; 
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
 border: auto;

}
.description{
    font-family: Arial, Helvetica, sans-serif;
    color: #612407;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    gap: 10px;
}
.title{
    display: flex;
    flex-direction: column;
}
.bold{
    font-weight: bold;
}
.button{
    background-color: #F3DF85;
    border: none;
    border-radius: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}